.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# ignore the binaries
bin/*

obj/*

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
obj/project.nuget.*
obj/project.assets.*
obj/GameEngine.csproj.nuget.dgspec.*

.vs/GameEngine/DesignTimeBuild/.dtbcache.v2
.vs/GameEngine/FileContentIndex/4e1558bb-c768-4e22-9002-edfde1090100.vsidx
.vs/GameEngine/FileContentIndex/read.lock
.vs/GameEngine/v17/.futdcache.v2
.vs/GameEngine/v17/.suo
.vs/ProjectEvaluation/gameengine.metadata.v5.1
.vs/ProjectEvaluation/gameengine.projects.v5.1
.vs/GameEngine/FileContentIndex/1cd5db34-e51e-47f7-9b2b-56b29b159a3b.vsidx
.vs/GameEngine/FileContentIndex/74c357a6-86eb-4d91-ab7a-f9b1eef22307.vsidx
